<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Capture</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" th:href="@{../assets/img/favicon.png}" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" th:href="@{../assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{../assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Folio - v4.1.0
    * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="#" th:href="@{/}" class="logo"><img src="../static/assets/img/logo.png" th:src="@{../assets/img/logo.png}" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero" th:href="@{/}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link  scrollto" href="#portfolio" th:href="@{/}">Winners</a></li>
                <li>
                    <a th:unless="${session.loggedUser != null}" class="nav-link scrollto" href="#contact" th:href="@{/login}">Login</a>
                    <a th:if="${session.loggedUser != null}" class="nav-link scrollto" href="#contact" th:href="@{/logoutPage}">Logout</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 ">
                    <div class="div-img-bg">
                        <div class="about-img">
                           <a href="#" th:href="@{https://bg.linkedin.com/in/kiril-indzhov-04821720a}"> <img src="../static/assets/img/kiril.jpg" th:src="@{/../assets/img/kiril.jpg}" class="img-responsive" alt="me"></a>
                        </div>
                    </div>
                    <div class="div-img-bg">
                        <div class="about-img">
                            <a href="#" th:href="@{https://www.linkedin.com/in/iliyan-daskalov-779a0016a/?originalSubdomain=bg}"> <img src="../static/assets/img/ilian.png" th:src="@{/../assets/img/ilian.png}" class="img-responsive" alt="me"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-descr">

                        <p class="p-heading">We are Alpha Java Track A25 students at Telerik Academy. We have developed this web application called Capture to serve the needs of enthusiastic photographers who desire to share their art with the world.</p>
                        <p class="separator">In the process of developing we have used Java, Hibernate, HTML, CSS , SQL and other tools to build this web application</p>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- End About Section -->



    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

        <div class="container">
            <div class="section-title text-center">
                <h2>App Functionalities</h2>
            </div>
        </div>

        <div class="container">
            <div class="journal-block">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="#"><img src="../static/assets/img/samsung2.jpg"  th:src="@{../assets/img/samsung2.jpg}" class="img-responsive" alt="img"></a>

                            <div class="journal-txt">

                                <h4><a href="#">TAKE YOUR BEST SHOT</a></h4>
                                <p class="separator">Get a professional feedback on your best photo shots, compete with other people addicted to photography.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="#"><img src="../static/assets/img/blog-post-2.jpg" th:src="@{../assets/img/blog-post-2.jpg}"class="img-responsive" alt="img"></a>

                            <div class="journal-txt">

                                <h4><a href="#">WORK WITH US</a></h4>
                                <p class="separator">Become a contest organizer. We put people first, and value craft and simplicity in our work. Join us!
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="#"><img src="../static/assets/img/jury.jpeg" th:src="@{../assets/img/jury.jpeg}" class="img-responsive" alt="img"></a>

                            <div class="journal-txt">

                                <h4><a href="#">EVALUATE CONTESTS</a></h4>
                                <p class="separator">Become a jury and rate the art of the contest participants.
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div><!-- End Journal Section -->

    <div id="footer" class="text-center">
        <div class="container">
            <div class="socials-media text-center">

                <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>

            </div>

            <p>© 2021 Capture, Inc.</p>

            <div class="credits">
                <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
              -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

        </div>
    </div><!-- End Footer -->

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js" th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js" th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js" th:src="@{../assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js" th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js" th:src="@{../assets/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{../assets/js/main.js}"></script>

</body>

</html>