<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Capture</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="../static/assets/img/favicon.png" th:href="@{/../assets/img/favicon.png}" rel="icon">
	<link href="../static/assets/img/apple-touch-icon.png" th:href="@{/../assets/img/apple-touch-icon.png}"
	      rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
	      th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
	      rel="stylesheet">
	<!-- Vendor CSS Files -->
	<link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	      th:href="@{/../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	      th:href="@{/../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link href="../static/assets/vendor/boxicons/css/boxicons.min.css"
	      th:href="@{/../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
	      th:href="@{/../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
	      th:href="@{/../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="../static/assets/css/style.css" th:href="@{/../assets/css/style.css}" rel="stylesheet">

	<!-- =======================================================
	* Template Name: Folio - v4.1.0
	* Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class=" ">
	<div class="container d-flex align-items-center justify-content-between">

		<a href="#" th:href="@{/}" class="logo"><img src="../static/assets/img/logo.png"
		                                             th:src="@{/../assets/img/logo.png}" alt="" class="img-fluid"></a>
		<!-- Uncomment below if you prefer to use an text logo -->
		<!--		 <h1 class="logo"><a href="index.html">Folio</a></h1> -->

		<nav id="navbar" class="navbar">
			<ul>
				<li th:if="${isOrganiser}"><a class="nav-link  scrollto" href="organiserProfile.html" th:href="@{/organiser/users}">View users</a></li>
				<li th:if="${isOrganiser}" class="dropdown"><a href="#"><span>Create</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#" th:href="@{/organiser/create}">Contest</a></li>
						<li><a href="#" th:href="@{/organiser/category}">Category</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#" th:href="@{/profile/{userId}(userId=${session.loggedUser.getId()})}">View profile</a></li>
						<li><a href="#" th:href="@{/profile/update/{userId}(userId=${session.loggedUser.getId()})}">Edit profile</a></li>
					</ul>
				</li>
				<li>
					<a class="nav-link scrollto" href="logoutPage.html" th:href="@{/logoutPage}">Logout</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->

<main id="main">
	<div th:unless="${canShow}" class="text-info">
		<div class="container">
			<div class="section-title text-center">
				<h2 th:text="'You can only see the album until'">My Portfolio</h2>
				<h3 th:text="${timeLeft}">My Portfolio</h3>
			</div>
		</div>
	</div>
	<th:block th:each="photo : ${contest.getPhotoList()}">
		<section id="portfolio-details" class="portfolio-details">
			<div class="container">
				<div class="row gy-4">
					<div class="col-lg-8">
						<div class="portfolio-details-slider ">
							<div class="swiper-slide">
								<img src="../static/assets/img/portfolio/portfolio-details-1.jpg"
								     th:src="${photo.getFilePath()}">
							</div>
						</div>
					</div>
					<th:block th:if="${canShow}">
					<div th:if="${!photo.getByJuryId(session.loggedUser.getId()).isEdited()} and ${!contest.isFinished()} and ${contest.getJuryList().contains(session.loggedUser.getId())}" class="col-lg-4">
						<form th:action="@{/contest/{id}(id=${contest.getId()})}" th:object="${review}" method="post">
							<div class="portfolio-info">
								<div class="portfolio-description">
									<h2 th:text="${photo.getTitle()}">Photo title</h2>
								</div>
								<h3>Photo information</h3>
								<ul>
									<li>
										<label th:text="Score ">Score</label>
										<input type="number" min="0" max="10" th:value="${review.getScore()}" class="input-group"
										       th:field="*{score}">
										<label th:text="Comment ">Comment</label>
										<input type="text" class="input-group-text" th:field="*{comment}">
										<label >Not suitable</label>
										<input type="checkbox" class="checkbox-group-element" name="isSuitable"
										       th:field="*{suitable}">
										<input type="hidden" name="photoId" th:value="${photo.getId()}">
										<input type="hidden" name="juryId" th:value="${session.loggedUser.getId()}">
									</li>
									<li>
										<button type="submit" class="btn btn-defeault btn-send">Submit</button>
									</li>
								</ul>
							</div>
						</form>

						<div class="portfolio-description">
							<h5>Photo Story</h5>
							<p th:text="${photo.getStory()}"> Story about the photo</p>
						</div>
					</div>

					<div th:if="${photo.getByJuryId(session.loggedUser.getId()).isEdited()} or ${photo.getContest().isFinished()}" class="col-lg-4">
						<div class="portfolio-info">
							<div class="portfolio-description">
								<h2 th:text="${photo.getTitle()}">Photo title</h2>
							</div>
							<h3>Photo information</h3>
							<ul>
								<li>
									<label th:text="Score">Score</label>
									<label type="number" th:text="${photo.getByJuryId(session.loggedUser.getId()).getScore()}"></label>
								</li>
								<li>
									<label th:text="Comment ">Comment</label>
									<lable type="text" class="text-info" th:text="${photo.getByJuryId(session.loggedUser.getId()).getComment()}"></lable>
								</li>
								<li>
									<a class="text-info" th:href="@{/photo/{id}(id=${photo.getId()})}">View Photo</a>
								</li>
							</ul>
						</div>
						<div class="portfolio-description">
							<h5>Photo Story</h5>
							<p th:text="${photo.getStory()}">Story about the photo</p>
						</div>
					</div>
					</th:block>
				</div>

			</div>
		</section><!-- End Portfolio Details Section -->

	</th:block>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
	<div class="container">
		<div class="socials-media text-center">

			<ul class="list-unstyled">
				<li><a href="#"><i class="bi bi-facebook"></i></a></li>
				<li><a href="#"><i class="bi bi-twitter"></i></a></li>
				<li><a href="#"><i class="bi bi-instagram"></i></a></li>
				<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
			</ul>

		</div>

		<p>© 2021 Capture, Inc.</p>

		<div class="credits">
			<!--
			All the links in the footer should remain intact.
			You can delete the links only if you purchased the pro version.
			Licensing information: https://bootstrapmade.com/license/
			Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
		  -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>

	</div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{/../assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js" th:src="@{/../assets/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{/../assets/js/main.js}"></script>

</body>

</html>